/*
 * 
 * Color variables
 */
 
:root {
    --cs-default:#007;
    --cs-element:#007;
    --cs-attribute:#770;
    --cs-attributeGroup:#770;
    --cs-simpleType:#070;
    --cs-complexType:#077;
    --cs-group:#707;
    --cs-any:#700;
    
    --cs-compl-default:#88f;
    --cs-compl-element:#88f;
    --cs-compl-attribute:#ee8;
    --cs-compl-attributeGroup:#ee8;
    --cs-compl-simpleType:#8f8;
    --cs-compl-complexType:#8ee;
    --cs-compl-group:#e8e;
    --cs-compl-any:#f88;
}

/*
 * General
 */
text {
    fill:black;
}
.bordered {
    fill:none;
}

.opaque {
    fill:white;
}

.massive.filled {
    opacity: 1;
} 

.shaded.filled {
    opacity: 0.1;
} 

.filled {
    opacity: 0.3;
} 

text.backgrounded {
    fill:black;
}
text.backgrounded.shaded {
    fill:black;
}


/*
 * Defaults, fallbacks
 */

.filled,
.cs_default.filled,
.cs_element.filled
{
    fill:var(--cs-default);
}

.bordered,
.cs_default.bordered,
.cs_element.bordered 
{
    stroke:var(--cs-default);
}

text.backgrounded,
text.cs_default.backgrounded,
text.cs_element.backgrounded
{
    fill:var(--cs-default);
}

/*
 * 
 * Attributes
 */

.cs_attribute.filled
{
    fill:var(--cs-attribute);
}

.cs_attribute.bordered
{
    stroke:var(--cs-attribute);
}
text.cs_attribute.backgrounded
{
    fill:var(--cs-attribute);
}

/*
 * 
 * Attributes Groups
 */

.cs_attributeGroup.filled
{
    fill:var(--cs-attributeGroup);
}

.cs_attributeGroup.bordered 
{
    stroke:var(--cs-attributeGroup);
}
text.cs_attributeGroup.backgrounded
{
    fill:var(--cs-attributeGroup);
}

/*
 * 
 * SimpleTypes
 */

.cs_simpleType.filled
{
    fill:var(--cs-simpleType);
}

.cs_simpleType.bordered 
{
    stroke:var(--cs-simpleType);
}
text.cs_simpleType.backgrounded {
    fill:var(--cs-simpleType);
}

/*
 * 
 * ComplexTypes
 */

.cs_complexType.filled
{
    fill:var(--cs-complexType);
}

.cs_complexType.bordered 
{
    stroke:var(--cs-complexType);
}

text.cs_complexType.backgrounded {
    fill:var(--cs-complexType);
}

/*
 * 
 * Groups
 */

.cs_group.filled
{
    fill:var(--cs-group);
}

.cs_group.bordered 
{
    stroke:var(--cs-group);
}

text.cs_group.backgrounded {
    fill:var(--cs-group);
}

/*
 * 
 * Any
 */

.cs_any.filled
{
    fill:var(--cs-any);
}

.cs_any.bordered 
{
    stroke:var(--cs-any);
}

text.cs_any.backgrounded {
    fill:var(--cs-any);
}

a:hover text.cs_default,
a:hover text.cs_element
{
    fill:white;
}

a:hover .link-background {
    fill:var(--cs-compl-default);
    opacity:1;
}
a:hover .cs_attribute.link-background
{
    fill:var(--cs-compl-attribute);
}
a:hover .cs_attributeGroup.link-background
{
    fill:var(--cs-compl-attributeGroup);
}
a:hover .cs_simpleType.link-background {
    fill:var(--cs-compl-simpleType);
}
a:hover .cs_complexType.link-background {
    fill:var(--cs-compl-complexType);
}
a:hover .cs_group.link-background {
    fill:var(--cs-compl-group);
}
a:hover .cs_any.link-background {
    fill:var(--cs-compl-any);
}
